<div class="row pt-5 ps-5">
    <div>
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Accedi</h3>
            </div>
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label>User</label>
                        <input [(ngModel)]="datiaccesso.user" name="user" style="display:inline-block" type="text" class="form-control" placeholder="mario.rossi"required>
                    </div>
                    <div class="form-group pt-1">
                        <label>Password</label>
                        <input [(ngModel)]="datiaccesso.psw" name="psw" style="display:inline-block" type="password" class="form-control" placeholder="************" required>
                    </div>
                    <div class="pt-3">
                    <button type="button" (click)="accediconutente()" class="btn btn-success float-right">Accedi</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>